{
  "username": "<twitch_username>",
  "user_id": "<twitch_user_id",
  "client_id": {
    "secret_string": "twitch_client_id"
  },
  "client_secret": {
    "secret_string": "twitch_client_secret"
  },
  "user_access_token": {
    "secret_string": ""
  },
  "refresh_token": {
    "secret_string": ""
  }
}
