{
  "username": "",
  "user_id": "",
  "client_id": {
    "secret_string": ""
  },
  "client_secret": {
    "secret_string": ""
  },
  "user_access_token": {
    "secret_string": ""
  },
  "refresh_token": {
    "secret_string": ""
  },
  "redirect_url_port": 3000
}
